#home {
    color: white;
    background-image: url("../../image/digitization.jpg");
    line-height: 1.5cm;
}

.name-job {
    font-size: xx-large;
    padding-top: 100px;
}

.about-link a {
    font-size: 22px;
    color: white;
    text-decoration: none;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(34, 55, 99);
}

.about-link a:hover {
    font-size: 26px;
    background-color: cornflowerblue;
    font-weight: bold;
}